body {

    background-image: url('contact1.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    padding-left: 300px;
 

}
.head h1{
    /* font-size: 20px;
    text-align: center; */
}

a {
    text-align: center;
    color: black;
}

.GFG {
    font-family: 'Baloo Bhai', cursive;
    margin: 0px 9px;
    background-color: navy;
    color: white;
    padding: 4px -3px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: -3px;
    cursor: pointer;

}